@model IEnumerable<Identity.Models.City>

@{
    ViewBag.Title = "RemoveCity";
}

<h2>Remove city from country</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Remove", "RemoveCityFromCountry", new { sId = item.Id, cId = ViewBag.cId })
        </td>
    </tr>
}

</table>
